.pic {
  width: 250px;
  height: auto;
}

.container {
  width: 100%;
  min-height: 200px;
  border: 2px solid rgb(243, 233, 233);
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 25px 8px white;
  border-radius: 10px;
}

