
.register-container {
  width: 100%;
  height: 100vh;
  background: #f4f7fc; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}


.register-card {
  width: 90%;
  max-width: 1100px;
  display: flex;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  gap: 40px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
}

.register-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.18);
}


.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-image {
  width: 320px;
  border-radius: 15px;
}


.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h1 {
  font-size: 32px;
  color: #000;
  margin-bottom: 10px;
}

.subtitle {
  color: #333;
  margin-bottom: 25px;
  font-size: 15px;
}


.input-field {
  width: 450px;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #000;
  border-radius: 8px;
  background: #fff;
  transition: 0.3s ease;
  color: #000;
}

.input-field:focus {
  border-color: #1e90ff;
  box-shadow: 0 0 6px rgba(30, 144, 255, 0.5);
  outline: none;
}


.register-btn {
  width: 485px;

  padding: 12px;
  background: #1e558d;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.register-btn:hover {
  background: #0b66c3;
  transform: scale(1.02);
}


.login-link {
  text-align: center;
  color: #000;
  font-size: 14px;
}

.login-link a {
  color: #1e558d;
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  color: #0b66c3;
}
/* This part is the modal for subjects */
.md-btn {
  width: 485px;
  padding: 12px;
  background: #9cb7d2;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.md-btn:hover {
  background: #0b66c3;
}


.selected-modules{
  background: #f0f6ff;
  border: 1px solid #1e90ff;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
}


.modal-md {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 400px;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.modal h2 {
  margin-bottom: 20px;
  color: #000;
}

.module-list {
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.module-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 15px;
}


.save-btn {
  width: 100%;
  padding: 12px;
  background: #1e558d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.save-btn:hover {
  background: #0a5cad;
}



@media screen and (max-width: 900px) {
  .register-card {
    flex-direction: column;
    padding: 25px;
    gap: 20px;
  }

  .register-image {
    width: 250px;
  }
}
